<ion-header>
  <ion-toolbar>
    <ion-title>Geolocalizacion</ion-title>

    <!-- Side menu button -->
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-content [fullscreen]="true">

    <div class="map-wrapper">
      <div id="map_center">
        <img src="assets/icon/marker.png" />
      </div>
      <div #map id="map"></div>
    </div>
  
    <ion-grid>
      <ion-row>
        <ion-col size="3">
          <b>Latitud</b>
        </ion-col>
        <ion-col>
          {{latitude}}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="3">
          <b>Longitud</b>
        </ion-col>
        <ion-col>
          {{longitude}}
        </ion-col>
      </ion-row>
    </ion-grid>
  
  
  </ion-content>
</ion-content>
